<h1>Editing Restaurant Working Hour</h1>

<%= render 'form', restaurant_working_hour: @restaurant_working_hour %>

<%= link_to 'Show', @restaurant_working_hour %> |
<%= link_to 'Back', restaurant_working_hours_path %>
